.trick-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(109, 172, 156, 0.733);
  color: white;
  border-radius: 1rem;
  padding: 1rem 4rem;
  text-decoration: none;
}