.new-trick-form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('../../images/jf-brou-unsplash.png');
  background-size: cover;
}

.new-trick-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  background-color: rgba(109, 172, 156, 0.734);
  box-shadow: 0 0 4rem 0 black;
  border-radius: 2rem;
  margin: 8em;
  padding: 3rem 4rem;
  height: max-content;
}

.new-trick-form > h2 {
  align-self: center;
  margin-bottom: 2rem;
}

.new-trick-form > div {
  display: flex;
  align-items: baseline;
}

.new-trick-form label {
  font-weight: 600;
  font-size: 1.2rem;
}

#name,
#difficulty,
#tutorial,
.new-trick-form > button {
  background-color: white;
  margin: 1rem;
  padding: .5rem;
  border: 2px solid black;
  border-radius: 10px;
}

#name, #tutorial {
  width: 20em;
}

.new-trick-form > button,
#difficulty {
  cursor: pointer;
}

.new-trick-form > button {
  align-self: center;
  margin-top: 2rem;
  padding: .5rem 2rem;
}