.new-trick-form-container {
  display: flex;
  justify-content: center;
}

.new-trick-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 4em;
  padding: 2rem;
}

.new-trick-form > div {
  display: flex;
  align-items: baseline;
}

#name,
#difficulty,
#tutorial,
.new-trick-form > button {
  background-color: white;
  margin: 1rem;
  padding: .4rem;
  border: 2px solid black;
  border-radius: 2rem;
  
}

#name, #tutorial {
  width: 20em;
}

.new-trick-form > button,
#difficulty {
  cursor: pointer;
}