.trick-log-container {
  background-image: url('../../images/daniel-lincoln-unsplash.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.trick-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 10%;
  padding: 1em 0 10em 0;
  gap: 1rem;
}
