.home-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/c-perret-unsplash.png');
  background-size: cover;
}

.home-container > article {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(109, 172, 156, 0.734);
  box-shadow: 0 0 4rem 0 black;
  height: 25em;
  width:25em;
  margin-right: 15em;
  border-radius: 50%;
}