header {
  background-color: rgb(109, 172, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

nav {
  display: flex;
  gap: 2rem;
}

nav > a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  transition: transform 200ms ease;
}

nav > a:hover {
  transform: scale(1.1);
}

.active {
  font-weight: 700;
}